{
    margin: 0
;
    padding: 0
;
    font-family: sans-serif, Poppins
;
    box-sizing: border-box
;
    background-color: #222
;
}

body {
    background-color: #222;
}

.card {
    text-align: center;
    top: 50%;
    left: 50%;
    color: #fff;
    background: linear-gradient(135deg, #00feba, #5b548a);
    margin: 100px auto 0;
    padding: 40px 35px;
    border-radius: 20px;
    width: 90%;
    max-width: 470px;
}

.search {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.search input {
    width: 100%;
    padding: 10px 25px;
    border: none;
    outline: none;
    background: #ebfffc;
    color: #555;
    border-radius: 30px;
    flex: 1;
    font-size: 18px;
    margin-right: 16px;
}

.search button {
    border: none;
    outline: none;
    background: #5b548a;
    color: #ebfffc;
    border-radius: 50%;
    cursor: pointer;
    width: 60px;
    height: 60px;
}

.search button img {
    width: 16px;
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 50px;
    font-weight: 500;
    margin-top: -10px;
}

.detail{
    display: flex;
    /*justify-content: space-between;*/
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-top: 50px
}

.col{
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: left;
    margin-bottom: 10px;

}

.col img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

/*.col img{*/
/*    width: 50px;*/
/*    margin-right: 25px;*/
/*}*/

.humidity, .wind{
    font-size: 30px;
    margin-top: -1px;
}